@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tangerine');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.container{
  padding: 18px;
  
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container li{
  list-style: none;
  display: inline;
}
.container li a{
  text-decoration: none;
  padding: 14px 20px;
  font-size: 16px;
  color: #f2f2f2;
  display: inline-block;
  text-align: center;
  letter-spacing: 1px;
  transition: all .3s ease-in;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  text-shadow: 4px 4px 4px #aaa;
}
.container li a:hover{
  color: black;
    background-color: #f2f2f2;
    border-radius: 15px;

}

.container li a.active{
  color: black;
    background-color: #f2f2f2;
    border-radius: 15px;
}

.container li a.active:hover{
  color: black;
    background-color: #f2f2f2;
    border-radius: 15px;
}

